@{
    ViewBag.Title = "About our Kindergarten";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our Kinder Garten</p>
<ol>
    <li>We are Kindergarten - <b>Moon</b></li>
    <li>We are the first <strong>Private</strong> Kindergarten in Bulgaria</li>
    <li>We are a new and special kindergarten</li>
    <li>The garden is free, but only for families with 2 or more children</li>
    <li>The project for this free kindergarten is fully sponsored by the country</li>
</ol>

