@{
    ViewBag.Title = "Contacts with us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Director: <br /> Dimitar Ivanov Teflonov<br />
    <abbr title="Phone Number">GSM:</abbr>
    +359 89 333 5431 <br />
    <br />
    Teachers: <br />
    Anelia Ivanova Gospodinova     <abbr title="Phone Number">GSM:</abbr>
    +359 88 444 5431 <br />
    Greta Dimitrova Pencheva  <abbr title="Phone Number">GSM:</abbr>
    +359 89 555 5431 <br />
    Maria Ivanova Ivanova  <abbr title="Phone Number">GSM:</abbr>
    +359 89 666 5431 <br />
    Yoanna Petkova Petrova  <abbr title="Phone Number">GSM:</abbr>
    +359 88 777 5431 <br />
    Ivana Ivanova Todorova  <abbr title="Phone Number">GSM:</abbr>
    +359 89 888 5431 <br />
    Cvetelina Ivanova Dimitrova  <abbr title="Phone Number">GSM:</abbr>
    +359 89 999 5431 <br />
    Petya Radoslavova Georgieva  <abbr title="Phone Number">GSM:</abbr>
    +359 88 011 5431 <br />
    Vladislava Radoslavova Stefanova  <abbr title="Phone Number">GSM:</abbr>
    +359 89 222 2125 <br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    Administation Phone Number <abbr title="Phone Number">GSM:</abbr>
    +359 89 321 1234
</address>